@page


<div class="card mt-4 mb-4 bg-light">
    <div class="card-body">
        <h1 class="card-title fs-4">About</h1>
        <p class="card-text">
            Code sample for SeriLog and EF Core logging to a different folder per day and separate log files for conventional logging and EF Core logging.
        </p>
    </div>
</div>