@page

<div class="container border border-dark border-1 mt-4">
    <div class="row">

        <div style="background-color: #0f506f" class="text-white text-center p-2">
            By Karen Payne
        </div>

    </div>
</div>

<div class="card mt-4 mb-4 bg-light">
    <div class="card-body">
        <h5 class="card-title">About</h5>
        <p class="card-text">
            Code sample for SeriLog and EF Core logging to a different folder per day and separate log files for conventional logging and EF Core logging.
        </p>
    </div>
</div>