@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Demonstrates reading a command line parameter to determine if SeriLog is enabled.</p>
    <p>@Model.Message</p>
</div>
